<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="name">Name</mat-option>
            <mat-option value="-released">Released</mat-option>
            <mat-option value="-added">Added</mat-option>
            <mat-option value="-created">Created</mat-option>
            <mat-option value="-updated">Updated</mat-option>
            <mat-option value="rating">Rating</mat-option>
            <mat-option value="metacritic">Meta-Critic</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img
                src="https://imgs.search.brave.com/-940qut4q2V0d7zuQyUkH7Xjg9LsyFZB4LGNo5NxTos/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9kb3Rl/c3BvcnRzLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMS8w/Ni8yOTA3MjcwNi9W/QUxPUkFOVF9ZUjFf/S2V5QXJ0XzRrXzNf/LjAtMS5qcGc_dz0x/MjAw"
                alt="thumbnail"
                class="game-thumbnail"
            />
        </div>
        <div class="game-description">
            <p class="game-name">Name</p>
            <div class="game-platforms">
                <img src="https://imgs.search.brave.com/Obb2zYtneRvvWzvTUP0jp0oB-ROcEPDj7c6PJvKjBX0/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvdmFsb3JhbnQt/MzA1a2VzY3h3NWRw/dXA3eS5qcGc" 
                alt="slug" 
                class="game-platform">
            </div>
        </div>
    </div>
</div>